@{
  Layout = "_Layout";
}

<h2>Welcome to Our Platform</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
  <p>Greetings, @User.Identity.Name!</p>
  @using (Html.BeginForm("SignOut", "Authentication"))
  {
    <input type="submit" class="btn btn-primary" value="Logout" />
  }
}
else
{
  <p>@Html.ActionLink("Join Us", "Register")</p>
  <p>@Html.ActionLink("Sign In", "Login")</p>
}
<p>@Html.ActionLink("Return to Main Page", "Index", "Main")</p>
